@import '//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
body {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  column-gap: 1.5rem;
  height: 100vh;
  width: 100vw;
  
  background-color: #012e40;
}
.sideBar {
  width: 300px;
  height: 90vh;
  background-color: #012e40;
  color: white;
  position: relative;
}
#map {
  flex-grow: 1;
  height: 90vh;
}

.logo__container {
  color: white;
  text-align: center;
  margin-top: 1.5rem;
}

.map__logo {
  font-size: 3rem;
  color: #3ca6a6;
}
.app__name {
  font-size: 1.5rem;
  font-weight: 400;
}

.event__options {
  width: 90%;
  margin: 2rem auto 0 auto;
  padding: 1rem;
  border-radius: 25px;
  text-align: center;
  background-color: #026773;
  -webkit-box-shadow: 3px 10px 30px -9px rgba(0, 0, 0, 1);
  -moz-box-shadow: 3px 10px 30px -9px rgba(0, 0, 0, 1);
  box-shadow: 3px 10px 30px -9px rgba(0, 0, 0, 1);
}
.form__description {
  width: 100%;
  margin-top: 1rem;
}
.form__input--description {
  width: 100%;
  height: 100px;
  padding: 0.6rem;
}
.submit__button {
  margin-top: 1rem;
  background-color: #3ca6a6;
  border-radius: 10px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition: 0.7s;
}
.submit__button:hover {
  background-color: #369696;
}
.copy__right {
  position: absolute;
  bottom: 1rem;
  left: 0;
  right: 0;
}
.copy__right__span {
  font-size: 0.75rem;
  color: #024959;
  display: block;
  text-align: center;
}

.logout_login{
  position: fixed;
  top: 2rem;
  left: 2rem;
  color:white;
  
}

a{
  text-decoration: none;
  color: white;
  transition:0.4s;
}
a:hover{
  cursor: pointer;
  color: #3ca6a6;
}
.icon_calendar
{
  position: fixed;
  top: 2rem;
  left: 8rem;
  color: white;
  transition: 00.4s;
}
.icon_calendar:hover{
  cursor: pointer;
  color: #3ca6a6;
}

.overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  background: rgb(0, 0, 0);
  width: 100%;
  height: 100%;
  opacity: 0.8;
  z-index: 100;
  transition: 0.2s;
}

.popupcontent{
  color: white;
  text-align: center;
  position:relative;
}
.calendar {
  width: 98%;
  margin: auto;
  font-size: 13px;
}

.calendar tr, .calendar td {
  border: 1px solid black;
}

.calendar th {
  padding: 10px;
  text-align: center;
  font-size: 18px;
}

.calendar td {
  width: 200px;
  height: 80px;
  padding: 20px 0px 0px 5px;
}

.month {
  font-size: 25px;
}

.date {
  font-size: 16px;
}


.month {
  font-size: 25px;
}

.date {
  font-size: 16px;
}

.close{
left: 15px;
top: 5px;
position: absolute;
font-size: 30px;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #034e57;
  width: 1000px;
  height: 700px;
  margin-left: -500px; /*Half the value of width to center div*/
  margin-top: -350px; /*Half the value of height to center div*/
  z-index: 200;
  border-radius: 25px;
  transition: 0.4s;

}

.hidden{
  display: none;
  transition: 0.3s;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  transition: 00.2s;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  transition-delay: 1s;
}
