<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script
      src="https://kit.fontawesome.com/5c86764a34.js"
      crossorigin="anonymous"
    ></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap"
      rel="stylesheet"
    />
    {% load static %}
    <link rel="stylesheet" href="{%  static  'css/login.css'  %}" />
  </head>
  <body>
    <div class="login__container">
      <div class="logo">
        <ion-icon class="map__logo" name="map-outline"></ion-icon>
        <h2 class="app__name">Traffic Jams App</h2>
      </div>
      <div class="message__password__sent">
        <h2>Password reset sent</h2>
        <p>
          We’ve emailed you instructions for setting your password, if an
          account exists with the email you entered. You should receive them
          shortly. If you don’t receive an email, please make sure you’ve
          entered the address you registered with, and check your spam folder.
        </p>
      </div>
    </div>

    <!-- Added scripts --->
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
    <script type="text/javascript" src="{%  static  'js/reset.js'  %}"></script>
  </body>
</html>
