{% extends 'base.html' %} 
{% block title %}Home{% endblock %} 
{% block content %}

<div class="sideBar">
  <div class="logo__container">
    <ion-icon class="map__logo" name="map-outline"></ion-icon>

    <h2 class="app__name">Traffic Jams App</h2>
  </div>
  <!-- Add event -->
  <div class="event__options hidden">
    <form class="form">
      <div class="form__row">
        <label class="form__label">Zdarzenie</label>
        <select class="form__input form__input--type">
          <option value="police">policja</option>
          <option value="jam">korek</option>
          <option value="crash">kolizja</option>
        </select>
      </div>
      <div class="form__row form__description">
     

        <textarea class="form__input form__input--description">opis</textarea>
      </div>
      <button type="button" class="submit__button" id="submit_colision">Potwierdz!</button>
    </form>
  </div>
  <div class="copy__right">
    <span class="copy__right__span"
      >&copy; Traffic Jams App All rights reserved</span
    >
  </div>
  <!-- Add event end -->

<!-- ///////////////////////////////// -->
<div class="event__options way__options hidden">
  <form class="form">
    <input class="input1" type="text" id="coords" name="from"><br><br>
<input class="input2" type="text" id="coorrds" name="to"><br><br>
      <textarea class="form__input form__input--description waydescription">opis</textarea>
      <input class='calendar' type="date" id="start" name="trip-start"
       value="2022-06-13"
       min="2022-01-01" max="2022-12-31">
      <button type="button" class="submit__button" id="planbutton">Potwierdz!</button>
    </div>
    
  </form>
</div>
<div class="copy__right">
  <span class="copy__right__span"
    >&copy; Traffic Jams App All rights reserved</span
  >
</div>

<!-- ///////////////////////////////// -->

</div>

<div class="map" id="map"></div>
{% if user.is_authenticated %}
<span class="logout_login"><a href="{% url 'logout' %}"><i class="fa-solid fa-arrow-right-from-bracket"></i></a> </span>
<i class="fa-solid fa-calendar-days icon_calendar"></i>
<p class="welcome__banner">Hello, {{ user.username }}</p>
{% else %}
<span class="logout_login"><a href="{% url 'login' %}"><i class="fa-solid fa-arrow-right-from-bracket"></i> Login</a></span>
{% endif %}


<div class="overlay hidden"></div>
<div class="popup hidden">
  <div class="popupcontent">
      <a class="close" href="{% url 'home' %}"> x </a>
      <h1>Calendar</h1>
{{cal|safe}}
<div class="clearfix">
	<a class="btn btn-info left" href="{% url 'calendar' %}?{{ prev_month }}"> Previous Month </a>
	<a class="btn btn-info right" href="{% url 'calendar' %}?{{ next_month }}"> Next Month </a>

</div>
</div>
</div>
</div>

{% endblock %}